.mc-auth{
    background:url("../img/bg_banner.png") center;
    background-size: cover;
    min-height:100vh;
}

.mc-auth .flex-row{
    /* min-height:100vh; */
}

.mc-auth-card{
    background: rgb(255,255,255,0.7);
    padding: 3% 6%;
    
}

.mc-auth .flex-column {
    width: 500px;
}

.mc-auth-card .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 0.75rem;
    transition: all 0.2s;
}

.mc-auth-subtext {
    color: #777;
    font-size: 0.8em;
    padding: 0px 16px;
}