/* Dashboard page */

.mc-sidebar{
    border-right: 1px solid #ccc;
}

.mc-dashboard{
    padding: 5% 2%;
    min-height: 800px;
}

.mc-content{
    padding: 0 9%;
}

.mc-card{
    margin-right: 30px;
    margin-bottom: 30px;

}

/* Responsive */
@media screen and (max-width: 768px) {
    .mc-sidebar{
        border-right: 0px;
    }
    .mc-dashboard{
        padding: 5% 2%;
        min-height:0;
    }

}