.btn-mc {
    height: 40px;
    width: 65;
    outline: 2px solid black;
    position: relative;
    margin: 0;
    display: inline-block;
    /* background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png'); */
    background-image: url('../img/mcbtn_bg.png');
    background-repeat: repeat;
    padding: 0 5px;
    font-family: 'minecraft';
    text-align: center;
    color: white;
    text-shadow: 3px 3px #4C4C4C;
    border-bottom: 4px solid #565656;
    border-right: 2px solid #565656;
    border-left: 2px solid #AAA;
    border-top: 2px solid #AAA;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .btn-mc span {
    position: relative;
    line-height: 40px;
    bottom: 3px;
  }
  
  .btn-mc:hover {
    border-bottom: 4px solid #59639A;
    border-right: 2px solid #59639A;
    border-left: 2px solid #BDC6FF;
    border-top: 2px solid #BDC6FF;
    /* background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_active_center.png'); */
    background-image: url('../img/mcbtn_bg_active.png');
    color: #FFFFA0;
  }