@font-face{
    font-family:'minecraft';
    font-style:normal;
    font-weight:normal;
    src: url("../fonts/minecraft.otf") format("opentype");
}

/* Nav Bars */
#main-navbar{
    padding:1% 3%;
    background-color: transparent;
}
#main-navbar.scrolled {
    background-color: #222 !important;
    transition: background-color 200ms linear;
}

/* Main Banner */

.mc-inner-banner{
    height:100%;
}

.regist-form{
    background-color: rgba(255,255,255,0.7);
    max-width: 100%;
    width: 550px;
    min-width: 0;
    padding: 5% 7%;
}

h3.page-title{
    color:white;
    padding: 0 0;
    font-size: 2.5em;
}

.regist-form span {
    width: 42px;
}

/* Join Us Section */
.section-join {
    padding: 7% 10%;
    min-height:350px;
    background-color: #444;
    color:white;
    background:url("../img/bg_dirt.png");
    background-size: cover;
}

.section-join .subtitle{
    color:#aaa;
    font-size: 0.8em;
}

.mc-ip-address{
    text-align: center;
    margin: 0 auto;
    font-family: 'minecraft',monospace;
    width:30%;
}

.mc-ip-address .form-control {
    background-color: black;
    color:white;
    border: 2px solid #ccc;
    border-radius: 0;
}

/* Server Desc Section */

.section-desc {
    margin: 0 0;
    padding: 0% 0%;
    background-color: #fff;
    color:#333;
}

.desc-item{
    padding: 5% 2%;
}

.desc-bg{
    /* background: linear-gradient(to right, 
        rgba(255,255,255,1) 0%, 
        rgba(255,255,255,1) 19%, 
        rgba(153,255,0,0) 42%, 
        rgba(153,255,0,0) 100%),
        url("../img/bg_player.jpg");

    background: -webkit-linear-gradient(to right, 
        rgba(255,255,255,1) 0%, 
        rgba(255,255,255,1) 19%, 
        rgba(153,255,0,0) 42%, 
        rgba(153,255,0,0) 100%),
        url("../img/bg_player.jpg"); */
    background-image: url('../img/pig2.png');
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;

    
}

/* Progress and Donations Section */
.section-progress{
    padding: 4% 10%;
    color: #333;
}

div.mc-progress-item {
    padding: 3% 5%;
}

div.mc-progress-right-border {
    border-right: 1px solid #ccc;
}

/* Contact Section */
.section-contact{
    padding: 4% 20%;
        /* background:url("../img/bg_dirt.png");
    background-size: cover; */
}

.section-contact .card{
    width: 1000px;  
}

.contact-bg{
    min-height: 400px;
    width: 100%;
    background-color: #2196f3;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.mc-contact-form {
    padding: 3% 5%;
}

/* Footer */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

.mc-footer{
    background-color: #222;
    color:#ccc;
    bottom:0;
}

/* Items */
hr.hr-short{
    width: 25%;
    border-top: 2px solid white;
}

hr.hr-light {
    max-width: 16%;
    color: #777;    
}

textarea {
    max-height:75px;
}

.overlay-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#donate-card{
    position: absolute;
    top: 50%;
    left: 50%;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
}

.overlay-close{
    position:absolute;
    top: 3%;
    right: 3%;
    font-size: 2em;
    color: white;
    cursor:pointer;
}

/* Responsive */
@media screen and (max-width: 767px) {
    .mc-banner {
        min-height:30vh;
        margin-top: 5vh;
    }

    .page-title{
        margin-top: 7.5vh;
        text-align: center;
    }

    #main-navbar{
        padding: 10px 10px;
        background-color: #222;
    }
    .mc-ip-address {
        min-width:50vw;
    }
    .section-join {
        padding:10% 5%;
    }

    .section-desc {
        padding: 5% 5% 0 5%;
    }
    
    .section-progress {
        padding: 0% 5% 5% 5%;
    }

    div.mc-progress-item {
        padding: 5% 2%;
    }

    div .mc-progress-right-border {
        border-right: 0px solid #ccc;
    }

    div.section-contact{
        padding: 0vh 0vw;
    }

}