#main-navbar{
    background-color: #222;
}

.mc-pg-banner{
    background: url('../img/bg_banner.png') center;
    background-size: cover;
    min-height: 300px;
    padding: 0 5%;
}

.mc-donation-text{
    color:#ddd;
    /* for commit */
}

.section-pricing{
    padding-top: 0%;
}

section.pricing {
    /* background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF); */
}
  
.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 2.5rem;
    margin: 0;
}



.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    position:absolute;
    bottom:16px;
    right:20px;
    left:20px;
    width:auto
}

/* Responsive */
@media screen and (max-width: 767px) {

    .mc-pg-banner{
        min-height: 150px;
    }
}